

@{
    ViewBag.Title = "Familias";
}

<h2>Familias</h2>
<hr />

<table id="gvFamilias" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="Id" data-type="numeric">ID</th>
            <th data-column-id="Nombre">Nombre</th>
            <th data-column-id="Descripcion">Descripción</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var grid = $("#gvFamilias").bootgrid({
                ajax: true,
                rowselect: true,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                post: function () {
                    return {
                        id: "35839871-457F-46A4-A78E-8C945AE75E82"
                    };
                },
                url: "/api/Familias",
                searchSettings: {
                    delay: 1000,
                    characters: 3
                },
                labels: {
                    all: "ALL",
                    infos: "Este es el listado de familias",
                    loading: "Obteniendo datos ...",
                    noResults: "Ups!! No hay resultados",
                    refresh: "Recargar los datos",
                    search: "buscar..."
                },
                formatters: {
                    "commands": function (column, row) {
                        return "<a class='btn btn-warning btn-xs' href='/Familias/Edit/"
                            + row.Id + "' >Editar</a> &nbsp; "
                            + "<a class='btn btn-danger btn-xs' href='/Familias/Delete/"
                            + row.Id + "' >Eliminar</a>"
                    }
                }
            });
        });
    </script>
}