################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModeloPedidos/bin/Debug
/ModeloPedidos/obj/Debug
/packages
/testWebApi/bin
/testWebApi/obj
