

@{
    ViewBag.Title = "Pedidos";
}


<h2>Pedidos</h2>
<hr />

<table id="gvPedidos" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th data-column-id="Id_pedido" data-type="numeric">ID</th>
            <th data-column-id="Referencia">Referencia</th>
            <th data-column-id="Fecha">Fecha</th>
            <th data-column-id="NombreRestaurante">Restaurante</th>
            <th data-column-id="NombrePersona">Pedido Por</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var grid = $("#gvPedidos").bootgrid({
                ajax: true,
                rowselect: true,
                ajaxSettings: {
                    method: "GET",
                    cache: false
                },
                post: function () {
                    return {
                        id: "D5DEF094-CACD-423C-B990-4154778BD085"
                    };
                },
                url: "/api/Pedidos",
                searchSettings: {
                    delay: 1000,
                    characters: 3
                },
                labels: {
                    all: "ALL",
                    infos: "Este es el listado de pedidos",
                    loading: "Obteniendo datos ...",
                    noResults: "Ups!! No hay resultados",
                    refresh: "Recargar los datos",
                    search: "buscar..."
                },
                formatters: {
                    "commands": function (column, row) {
                        return "<a class='btn btn-primary btn-xs' href='/Pedidos/Details/"
                            + row.Id_pedido + "' >Detalle</a>  &nbsp; " +
                            "<a class='btn btn-warning btn-xs' href='/Pedidos/Edit/"
                            + row.Id_pedido + "' >Editar</a> &nbsp; "
                            + "<a class='btn btn-danger btn-xs' href='/Pedidos/Delete/"
                            + row.Id_pedido + "' >Eliminar</a>"
                    }
                }
            });
        });
    </script>
}