

@{
    ViewBag.Title = "PÁGINA DE TEST";
}

<div class="jumbotron">
    <h1>Menú General</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/Pedidos/Index" class="btn btn-primary btn-lg m-10" style="margin:10px;">Pedidos</a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/Productos/Index" class="btn btn-primary btn-lg m-10">Productos</a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/Restaurantes/Index" class="btn btn-primary btn-lg m-10">Restaurantes</a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/Familias/Index" class="btn btn-primary btn-lg m-10">Familias</a>
        </div>
    </div>
</div>

